.content.homepl>.banner {
  height: 50vh;
  /*background-color: red;*/
}

.content.homepl>.cadastro {
  height: 40vh;
  /*background-color: blue;*/
  display: flex;
  justify-content: space-around;
}

.content.homepl>.cadastro>.whiteThing {
  width: 30vw;
  height: 75%;
}

.content.homepl>.cadastro .btn {
  width: 250px;
}