.content.login {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.content.login>.whiteThing {
  padding: 50px;
  width: 60%;
  height: 75%;
  border-radius: 40px;
  justify-content: flex-start;
  max-width: 50em;
  max-height: 35em;
}

.content.login>div>.inputs>.nav {
  margin-top: 15px;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

.content.login>div>.cadastro>.btn {
  width: 10em;
  font-size: 1.2em;
  border-radius: 28px;
  font-weight: bold;
  background-color: #30E3CA;
  color: white;
  float: right;
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
}

.content.login>div>.login {
  display: flex;
  justify-content: flex-end;
  margin-top: 3.5em;
}

.content.login>div>.login>.btn {
  width: 8em;
  font-size: 2em;
  border-radius: 40px;
  font-weight: bold;
  background-color: #30E3CA;
  color: white;
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
}

.content.login>div>.login>.btn:active {
  background-color: #84ffef;
}

.content.login>div>.cadastro>.btn:active {
  background-color: #84ffef;
}

.content.login>div>.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.content.login>div .input-space {
  height: 5vh;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}

.content.login>div .input-label {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}