.content.login {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.content.login>.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 50px;
  background-color: white;
  width: 60%;
  height: 75%;
  box-shadow: -5px 10px 5px #00000029;
  border-radius: 40px;
}

.content.login>.container>.inputs>.btn {
  margin-top: 15px;
  text-decoration: none;
  color: black;
}

.content.login>.container>.cadastro>.btn {
  display: block;
  width: 200px;
  padding: 10px;
  text-align: center;
  letter-spacing: 0px;
  font-size: 1.7em;
  border-radius: 28px;
  font-weight: bold;
  background-color: #30E3CA;
  text-decoration: none;
  color: white;
  float: right;
}

.content.login>.container>.login {
  display: flex;
  justify-content: flex-end;
  margin-top: 12%;
}

.content.login>.container>.login>.btn {
  display: block;
  width: 300px;
  padding: 10px;
  text-align: center;
  letter-spacing: 0px;
  font-size: 2.5em;
  border-radius: 40px;
  font-weight: bold;
  background-color: #30E3CA;
  text-decoration: none;
  color: white;
}

.content.login>.container>.inputs {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.content.login>.container .input-space {
  height: 5vh;
  width: 100%;
  border: 1px solid #30E3CA;
  border-radius: 40px;
  font-size: 1.4em;
  padding-left: 15px;
}

.content.login>.container .input-label {
  display: flex;
  flex-direction: column;
  user-select: none;
  margin-top: 30px;
  color: darkgray;
}