.content.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90vh;
}

.content.signup>.perfil {
  display: flex;
  justify-content: space-around;
}

.content.signup>.perfil .btn {
  font-size: 2.5em;
  border-radius: 10px;
  font-weight: bold;
}

.content.signup>span {
  display: block;
  font-size: 2.5em;
  align-self: center;
}


.content.signup>.perfil>.whiteThing {
  padding: 50px;
  width: 35vw;
  height: 55vh;
  border-radius: 40px;
}