.content.supsteps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
}

.content.supsteps>span {
  display: block;
  font-size: 2.2em;
  align-self: center;
  margin-bottom: 0.5em;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 200;
}

.content.supsteps>.whiteThing {
  padding: 2em 4em;
  width: 56em;
  height: 35em;
  border-radius: 40px;
}

.content.supsteps .input-space {
  height: 5vh;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}

.content.supsteps .input-label {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  margin-top: 1em;
}

.content.supsteps .avanco {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content.supsteps .avanco .nav {
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  font-size: 2.5em;
  color: #30E3CA;
}

.content.supsteps .dropdowns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.4em 1em;
}

.content.supsteps .cadastro-preco {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content.supsteps .cadastro-preco>div {
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.content.supsteps .nav {
  align-self: center;
}

.content.supsteps .progression {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content.supsteps .progression>a {
  background: #CBCBCB 0% 0% no-repeat padding-box;
  text-decoration: none;
  text-align: center;
  padding-top: 0.2em;
  width: 2em;
  height: 2em;
  font-family: 'Mitr', sans-serif;
  font-weight: 500;
  font-size: 2em;
  border-radius: 50%;
  color: white;
  user-select: none;
}

.content.supsteps .progression>a.active {
  background: #30E3CA 0% 0% no-repeat padding-box;
}

.content.supsteps .half {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content.supsteps .btn {
  font-family: 'Mitr', sans-serif;
  padding: 0.2em;
  font-weight: 400;
  font-size: 1.6em;
  width: 11em;
  margin-top: 1em;
  justify-self: center;
  align-self: center;
  height: 2em;
  background: #30E3CA 0% 0% no-repeat padding-box;
}