.content.perfil-visi>div {
  display: flex;
  min-height: 90vh;
  flex-direction: row;
}

.content.perfil-visi .p1 {
  flex: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
  min-width: 15em;
}

.content.perfil-visi .p1>.foto {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content.perfil-visi .p1>.foto>span {
  margin-top: 0.7em;
  margin-left: 0.4em;
  font-size: 1.5em;
  font-family: 'Mitr', sans-serif;
  font-weight: 400;
}

.content.perfil-visi .p1>.categ {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

.content.perfil-visi .p1>.categ .nav {
  margin-bottom: 16px;
  font-size: 1.4em;
}

.content.perfil-visi .p2 .whiteThing {
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px #00000017;
  padding: 12px;
}

.content.perfil-visi .p2 .whiteThing>h2 {
  margin-bottom: 15px;
  font-size: 1.5em;
  font-family: 'Mitr', sans-serif;
  font-weight: 400;
}

.content.perfil-visi .p2 .whiteThing.contatos {
  max-height: 10em;
  justify-content: flex-start;
}

.content.perfil-visi .p2 .whiteThing.contatos>h4 {
  margin-top: 8px;
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.1em;
}

.content.perfil-visi .p2 .whiteThing.interacoes {
  max-height: 8em;
}

.content.perfil-visi .p2 .whiteThing.interacoes>div {
  display: flex;
  padding-left: 1em;
}

.content.perfil-visi .p2 .whiteThing.interacoes img {
  margin-right: 2em;
  align-self: center;
  justify-self: center;
  width: 3em;
  height: 3em;
  border-radius: 50%;
}

.content.perfil-visi .p2 .whiteThing.avaliacoes {
  max-height: 13em;
}

.content.perfil-visi .p2 .whiteThing.avaliacoes>div {
  display: flex;
}

.content.perfil-visi .p2 .whiteThing.avaliacoes .aval {
  display: flex;
  margin-right: 2em;
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.1em;
}

.content.perfil-visi .p2 .whiteThing.avaliacoes .aval>img {
  border-radius: 50%;
}

.content.perfil-visi .p2 .whiteThing.avaliacoes .aval .name {
  font-weight: 500;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.3em;
}

.content.perfil-visi .foto {
  max-width: 14em;
}

.content.perfil-visi .foto img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.content.perfil-visi .p2 {
  flex: 50%;
  display: flex;
  flex-direction: column;
  max-width: 52em;
  min-width: 48.5em;
  padding-bottom: 3em;
}

.content.perfil-visi .p3 {
  flex: 25%;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
  min-width: 15em;
}

.content.perfil-visi .p3 h2 {
  font-size: 1.5em;
  font-family: 'Mitr', sans-serif;
  font-weight: 400;
}

.content.perfil-visi .p3 span {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
}

.content.perfil-visi .p3>div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-bottom: 30px;
}

.content.perfil-visi .p3 .servico {
  display: inline;
}

.content.perfil-visi .p3 .servico>.tag {
  display: inline-block;
  background: #30E3CA 0% 0% no-repeat padding-box;
  padding: 7px;
  margin: 3px;
  border-radius: 25px;
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
}

.content.perfil-visi .p3 .send-rate span {
  vertical-align: super;
}

.content.perfil-visi .p3 .send-rate .slidecontainer {
  display: inline-block;
  width: 8em;
  margin-left: 0.5em;
}

.content.perfil-visi .p2 textarea {
  margin-top: 10px;
  border: 1px solid #30E3CA;
  border-radius: 20px;
  padding: 7px;
  font-size: 1.2em;
}

.content.perfil-visi .p2 .delete-account .btn {
  background-color: #FF7272;
}

.content.perfil-visi .p3 .send-rate button {
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;
  display: inline-block;
  width: 8em;
  padding: 10px;
  text-align: center;
  letter-spacing: 0px;
  font-size: 1em;
  border-radius: 10px;
  border: 0px;
  font-weight: bold;
  background-color: #30E3CA;
  text-decoration: none;
  color: white;
}

.content.perfil-visi .p3 .send-rate button:active {
  transform: translateY(4px);
  background-color: darkgray;
}

.content.perfil-visi .p3 .servico>.tag.red {
  background: #FF7272 0% 0% no-repeat padding-box;
}

.content.perfil-visi .p3 .servico>.tag.blue {
  background: #219FFF 0% 0% no-repeat padding-box;
}

.content.perfil-visi .p3 .servico>.tag.lightblue {
  background: #65DBFC 0% 0% no-repeat padding-box;
}

.content.perfil-visi .p3 .servico>.tag.yellow {
  background: #FFE791 0% 0% no-repeat padding-box;
}

.content.perfil-visi .p3 .servico>.tag.orange {
  background: #ff966b 0% 0% no-repeat padding-box;
}

.content.perfil-visi .p3 .servico>.tag.purple {
  background: #A777EB 0% 0% no-repeat padding-box;
}

.content.perfil-visi .p3 .servico>.tag.cyan {
  background: #70FFDD 0% 0% no-repeat padding-box;
}

.content.perfil-visi .p2 .cca {
  padding: 0px 3em 1em;
  display: flex;
  flex-direction: column;
}

.content.perfil-visi .p2 .input-space {
  height: 2em;
}

.content.perfil-visi .p2 .input-label {
  margin-top: 10px;
}

.content.perfil-visi .p2 .btn {
  margin-top: 1em;
  max-width: 12em;
  align-self: center;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  background: #30E3CA 0% 0% no-repeat padding-box;
}

.content.perfil-visi .p2 .cca.t>div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content.perfil-visi .p2 .cca>.half {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}