@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


*:focus {
  outline: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F1F6F9;
}

.content {
  margin-top: 10vh;
}